In [1]:
import seaborn as sb
import pandas as pd

In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

Load the tips dataset , add a new feature 'good table' for 20% tip or more, delete not required columns and create a Naive bayes classifier
<br>create a dummy vars

In [2]:
sb.get_dataset_names()

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py:376: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [3]:
df = sb.load_dataset('tips')

In [4]:
df.to_csv("tips.csv",index=False)

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df['diff'] = df['tip']/df['total_bill']

In [7]:
df.query("diff > 0.20").sort_values('diff',ascending=False).head()

     total_bill   tip     sex smoker  day    time  size      diff
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535

In [8]:
df['good'] = df['diff'] > 0.12

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size      diff   good
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447  False
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542   True
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587   True
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780   True
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808   True

In [10]:
df['good'].value_counts()

True     197
False     47
Name: good, dtype: int64

In [11]:
#df = pd.get_dummies(df,columns=['sex','smoker','day','time'])

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size      diff   good
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447  False
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542   True
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587   True
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780   True
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808   True

In [13]:
df.drop(['total_bill','tip','diff'],axis=1,inplace=True)

In [14]:
df.head()

      sex smoker  day    time  size   good
0  Female     No  Sun  Dinner     2  False
1    Male     No  Sun  Dinner     3   True
2    Male     No  Sun  Dinner     3   True
3    Male     No  Sun  Dinner     2   True
4  Female     No  Sun  Dinner     4   True

In [15]:
df['sex'].replace('Male',0,inplace=True)
df['sex'].replace('Female',1,inplace=True)

In [16]:
df['smoker'].replace('No',0,inplace=True)
df['smoker'].replace('Yes',1,inplace=True)

In [17]:
df['day'].replace('Thur',0,inplace=True)
df['day'].replace('Fri',1,inplace=True)
df['day'].replace('Sat',2,inplace=True)
df['day'].replace('Sun',3,inplace=True)

In [18]:
df['time'].replace('Dinner',0,inplace=True)
df['time'].replace('Lunch',1,inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
sex       244 non-null int64
smoker    244 non-null int64
day       244 non-null int64
time      244 non-null int64
size      244 non-null int64
good      244 non-null bool
dtypes: bool(1), int64(5)
memory usage: 9.9 KB

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['good'],axis=1), df['good'], test_size=0.33)

In [22]:
import sklearn.naive_bayes as sknb
import sklearn.linear_model as sklin

In [23]:
model = sknb.GaussianNB()
#model = sklin.LogisticRegression()

In [24]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
pred = model.predict(X_test)

In [26]:
pred

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [27]:
import sklearn.metrics as skm

In [28]:
skm.confusion_matrix(y_test,pred)

array([[ 2, 20],
       [ 1, 58]], dtype=int64)

In [29]:
model.score(X_test, y_test)

0.7407407407407407

In [30]:
model.score(X_train, y_train)

0.8588957055214724